body{ 
    background-image: url("./assets/background.png") !important;
    background: center center no-repeat fixed;
    background-size: cover;
}


span{
    color: var(--color-logo);
    font-weight: 700;
}
